.fitlySumImg {
  background-image: url("../../assets/graphics/fitlyLogo.svg");
  width: 350px;
  height: 215px;
  background-size: cover;
  background-position: center;
}

.fitlyimg1 {
  background-image: url("../../assets/graphics/fitlyP1.PNG");
}

.fitlyimg2 {
  background-image: url("../../assets/graphics/fitlyP2.PNG");
}

.fitlyimg3 {
  background-image: url("../../assets/graphics/fitlyP3.PNG");
}

.fitlyimg4 {
  background-image: url("../../assets/graphics/fitlyP4.PNG");
}

.fitlyimg5 {
  background-image: url("../../assets/graphics/fitlyP5.PNG");
}

.fitlyimg6 {
  background-image: url("../../assets/graphics/fitlyP6.PNG");
}
