.quikpixSumImg {
  background-image: url("../../assets/graphics/quikpix.svg");
  width: 350px;
  height: 215px;
  background-size: cover;
  background-position: center;
}

.quikpiximg1 {
  background-image: url("../../assets/graphics/quikpix1.png");
}

.quikpiximg2 {
  background-image: url("../../assets/graphics/quikpix2.png");
}

.quikpiximg3 {
  background-image: url("../../assets/graphics/quikpix3.png");
}

.quikpiximg4 {
  background-image: url("../../assets/graphics/quikpix4.png");
}

.quikpiximg5 {
  background-image: url("../../assets/graphics/quikpix5.png");
}

.quikpiximg6 {
  background-image: url("../../assets/graphics/quikpix6.png");
}
