.headerContainer {
  width: 100vw;
  height: 50px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 50px 10px 50px;
  background-color: #191919;
  color: #efefef;
  box-shadow: 14px 13px 32px -6px rgba(25, 25, 25, 0.43);
}

.headerLogo {
  width: 42px;
  height: 30px;
  background-image: url(../../assets/graphics/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.navItems {
  font-family: orkney-bold;
}

.navItemsContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

ul {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}

.headerLogo:hover {
  cursor: pointer;
}
