.mainContainer {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.topHomeSection {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: orkney-bold;
  text-shadow: 6px 5px 10px rgba(25, 25, 25, 0.5);
  font-size: 36pt;
  box-sizing: border-box;
  padding: 200px 100px 200px 100px;
  line-height: 5rem;
  background-image: url("../../assets/graphics/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 14px 13px 32px -6px rgba(25, 25, 25, 0.43);
}

.homeAboutButtCont {
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
}

.homeAboutButton {
  border: none;
  background-color: #191919;
  color: #efefef;
  box-sizing: border-box;
  padding: 20px 25px 20px 25px;
  transition: 0.1s ease-in-out;
  font-size: 12pt;
}

.homeAboutButton:hover {
  cursor: pointer;
  padding: 25px 30px 25px 30px;
  font-size: 16pt;
  box-shadow: 14px 13px 32px -6px rgba(25, 25, 25, 0.43);
  border-radius: 50px;
}

.bottomHomeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 100px;
}

.projectTitleCont {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.projectsTitle {
  font-family: orkney-bold;
  font-size: 36pt;
  text-shadow: 3px 3px 10px rgba(25, 25, 25, 0.5);
}

.blackunderline {
  width: 50%;
  height: 8px;
  background-color: #191919;
}

.cardSpacing {
  margin-top: 50px;
}

.homeCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 50px 50px 50px 50px;
  align-items: center;
  max-width: 1200px;
}

@media screen and (max-width: 768px) {
  .homeCards {
    width: 100vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottomHomeSection {
    width: 100%;
    box-sizing: border-box;
    padding: 100px 10px 100px 10px;
    display: flex;
    align-items: center;
  }

  .topHomeSection {
    font-size: 24pt;
    box-sizing: border-box;
    padding: 100px 10px 100px 10px;
    height: 700px;
    font-weight: 900;
  }
}
