.cardCont {
  min-height: 400px;
  width: 300px;
  box-shadow: 5px 5px 10px -3px rgba(25, 25, 25, 0.42);
  transition: 0.1s ease-in-out;
  background-color: white;
}

.cardImage {
  width: 300px;
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 3px 10px -3px rgba(25, 25, 25, 0.42);
}

.cardInfo {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  box-sizing: border-box;
  padding: 20px;
}

.cardDesc {
  margin-top: 5px;
}

.learnMore {
  text-decoration: none;
  color: #3bade6;
}

.cardCont:hover {
  cursor: pointer;
  box-shadow: 10px 10px 12px -3px rgba(25, 25, 25, 0.42);
  border-radius: 30px;
}
