@import "./comps/Header/header.scss";
@import "./comps/Footer/footer.scss";
@import "./comps/Main/Main.scss";
@import "./comps//Card/card.scss";
@import "./comps/About/about.scss";
@import "./comps/Contact/contact.scss";
@import "./comps/Washare/Washare.scss";
@import "./comps/Fitly/fitly.scss";
@import "./comps/Quikpix/quikpix.scss";
@import "./comps/Squeaker/squeaker.scss";
@import "./comps/Calculator/calculator.scss";
@import "./comps/Portfolio/portfolio.scss";

@font-face {
  font-family: orkney-bold;
  src: url(./assets/fonts/orkney-bold.otf);
}

@font-face {
  font-family: orkney-regular;
  src: url(./assets/fonts/orkney-regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: orkney-regular;
  background-color: #efefef;
  color: #191919;
  overflow-x: hidden;
}
