.squeakSumImg {
  background-image: url("../../assets/graphics/squeak.svg");
  width: 350px;
  height: 215px;
  background-size: cover;
  background-position: center;
}

.squeakimg1 {
  background-image: url("../../assets/graphics/squeakP1.png");
}

.squeakScreenshots {
  width: 100vw;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
