.contactCont {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  min-height: 790px;
  box-sizing: border-box;
  padding: 50px;
}

.contactTitle {
  font-family: orkney-bold;
  font-size: 36pt;
  text-shadow: 3px 3px 10px rgba(25, 25, 25, 0.5);
}

.contactMain {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.contactIcons {
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  transition: 0.3s ease-in-out;
}

.circleIcons,
.squareIcons {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 100px 0 100px 0;
}

.contactGithub {
  background-image: url("../../assets/graphics/greyGithub.svg");
}

.contactEmail {
  background-image: url("../../assets/graphics/greyEmail.svg");
}

.contactPhone {
  background-image: url("../../assets/graphics/greyPhone.svg");
}

.contactLinkedin {
  background-image: url("../../assets/graphics/greyLinkedin.svg");
}

.contactIconsWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 50px 100px 50px 100px;
  width: 100%;
  height: 600px;
}

.contactAnch {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-family: orkney-bold;
  color: #b7b7b7;
}

.githubAnch:hover > .contactGithub {
  background-image: url("../../assets/graphics/blkGithub.svg");
  color: #191919;
}

.emailAnch:hover > .contactEmail {
  background-image: url("../../assets/graphics/blkEmail.svg");
  color: #191919;
}

.phoneAnch:hover > .contactPhone {
  background-image: url("../../assets/graphics/blkPhone.svg");
  color: #191919;
}

.linkedinAnch:hover > .contactLinkedin {
  background-image: url("../../assets/graphics/blkLinkedin.svg");
  color: #191919;
}

.contactIconsText:hover {
  color: #191919;
}

.githubAnch:hover {
  color: #191919;
}

.phoneAnch:hover {
  color: #191919;
}

.emailAnch:hover {
  color: #191919;
}

.linkedinAnch:hover {
  color: #191919;
}

@media screen and (max-width: 768px) {
  .contactCont {
    padding: 100px 10px 30px 10px;
  }

  .contactAnch {
    align-items: center;
    text-decoration: none;
    font-family: orkney-bold;
    color: #191919;
    width: 300px;
    height: 50px;
  }

  .contactGithub {
    background-image: url("../../assets/graphics/blkGithub.svg");
  }

  .contactEmail {
    background-image: url("../../assets/graphics/blkEmail.svg");
  }

  .contactPhone {
    background-image: url("../../assets/graphics/blkPhone.svg");
  }

  .contactLinkedin {
    background-image: url("../../assets/graphics/blkLinkedin.svg");
  }

  .contactIconsWrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .circleIcons,
  .squareIcons {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
  }

  .contactIconsText {
    width: 150px;
    display: inline-block;
  }

  .contactIcons {
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    transition: 0.3s ease-in-out;
  }

  .contactIconsCont {
    margin-top: 80px;
  }
}
