.calcSumImg {
  background-image: url("../../assets/graphics/calc.svg");
  width: 350px;
  height: 215px;
  background-size: cover;
  background-position: center;
}

.calcimg1 {
  background-image: url("../../assets/graphics/calcP1.PNG");
}

.calcimg2 {
  background-image: url("../../assets/graphics/calcP2.png");
}
