.calcSumImg {
  background-image: url("../../assets/graphics/calc.svg");
  width: 350px;
  height: 215px;
  background-size: cover;
  background-position: center;
}

.calcimg1 {
  background-image: url("../../assets/graphics/calcP1.PNG");
}

.calcimg2 {
  background-image: url("../../assets/graphics/calcP2.png");
}

.calcScreenshots {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 100px 0 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .calcScreenshots {
    height: 500px;
    padding: 0px;
  }
}
